* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    box-sizing: border-box;

}

html,
body {
    width: 99vw;
}

/* navigation bar */
#navbar {
    background-color: white;
    opacity: 0.91;
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    position: fixed;
    z-index: 10;
}

.nav-anchor {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 1;
    color: var(--r-globalnav-color);
}

.cp {
    cursor: pointer;
}

.logo {
    font-size: 20px;
    margin-bottom: 5px;
}

.hero-section-one {
    width: 100%;
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    background-color: #f5f5f7;
}

.i-title {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
}

.i-description {
    font-size: 28px;
    line-height: 1.14286;
    font-weight: 400;
    letter-spacing: .007em;
}

.dual-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-btn {
    background-color: rgb(0, 113, 227);
    /* --sk-button-background-hover: #0076DF;
    --sk-button-background-active: #006EDB; */
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 21px;
    padding-right: 21px;
    font-size: 1.2rem;
    border: none;
    border-radius: 25px;
    color: white;
}

.h-btn-two {
    background-color: white;
    color: rgb(0, 113, 227);
    border: 1px solid rgb(0, 113, 227);
}

.h-btn-two:hover {
    background-color: rgb(0, 113, 227);
    color: white;
}

.h-btn-one:hover {
    background-color: #0076DF;
}

.hero-banner-img {
    width: 100%;
    height: 390px;
    background-image: url("heroBanner.png");
    background-size: cover;
}

/* ipad section   */
.ipad-section {
    width: 100%;
    height: 580px;
    background-image: url("blueGradientBG.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-top: 35px;
    margin-bottom: 12px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.air-img {
    background-image: url("ipad-air-img.png");
    background-size: cover;
    width: 90px;
    height: 50px;
}

img {
    width: 643px;
    height: 480px;
    /* background-image: url("iPad-img.png");
    background-size: cover; */
    padding: 1px;
}

.iPad-img {
    position: relative;
    top: -70px;
}

.iWatch-section {
    margin-top: 12px;
    background-image: url("beigeGradientBG.png");
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.watch-head {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .i-title {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
} */

.w-section-logo {
    font-size: 56px;
    padding-bottom: 10px;
}

.w-title {
    font-size: 48px;
    line-height: 1.07143;
    font-weight: 650;
    letter-spacing: -.005em;
    padding-right: 10px;
}

.w-title-model {
    font-size: 48px;
    line-height: 1.07143;
    /* font-weight: 650; */
    letter-spacing: -.005em;
}

.w-description {
    position: relative;
    bottom: 20px;
}

.w-buttons {
    position: relative;
    bottom: 16px;
}

.watch-img {
    width: 975px;
    height: 500px;
    background-image: url("watch.png");
    background-size: cover;
}

.product-section {
    display: grid;
    grid-template-columns: 760px 760px;
    grid-template-rows: 585px 585px 585px;
    justify-items: center;
    align-items: center;
    /* margin-top: 5px; */
}

.box {
    width: 755px;
    height: 580px;
    justify-self: center;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.black {
    background-color: black;
}

.white {
    background-color: #f5f5f7;
}

.product-section-head {
    margin-top: 53px;
    color: white;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;

}

.product-section-description {
    font-size: 21px;
    line-height: 1.19048;
    font-weight: 400;
    letter-spacing: .011em;
    color: white;
    margin-top: 4px;
}

.pr-img {
    background-size: cover;
    width: 450px;
    height: 400px;
}

.pr-button {
    margin-top: 17px;
}

.box-btn-two {
    background-color: black;
}

.white .box-btn-two {
    background-color: white;
}

.white .product-section-head {
    color: black;
}

.white .product-section-description {
    color: black;
}

/* carausel */
/* carausel header  */
.carausel-header {
    margin-top: 10px;
    background-color: #f5f5f7;
    width: 100%;
    height: 140px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 54px;
    line-height: 1.0714285714;
    font-weight: 550;
    letter-spacing: -0.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #000;
}


.carausel-content {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.carausel-content::-webkit-scrollbar {
    display: none;
}

.posters {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 70%;

}

.small-posters {
    display: flex;
    gap: 8px;
    width: 100%;
    height: 25%;

}

.poster-image,
.small-poster-image {
    will-change: transform;
    transform: translateZ(0);
}

.poster-image {
    background-size: cover;
    width: 100%;
    height: 1px;
    width: 80%;
    height: 98%;
    flex: 0 0 auto;
    scroll-snap-align: center;
    position: relative;
}

.small-poster-image {
    background-color: skyblue;
    width: 1px;
    height: 1px;
    width: 30.8%;
    height: 100%;
    flex: 0 0 auto;

}

.poster-image-one {
    width: 9.5%;
}

.small-poster-image-one {
    width: 2.5%;
}

.carausel-button {
    background-color: #f5f5f7;
    color: black;
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    border-radius: 31px;
    border: none;
    position: absolute;
    top: 571px;
    left: 87px;
    width: 135px;
    height: 44px;
}

.carausel-text {
    color: #f5f5f7;
    font-size: 21px;
    line-height: 1.1904761905;
    font-weight: 700;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, .6);
    position: absolute;
    top: 580px;
    left: 248px;
}

.carausel-des-text {
    font-weight: 700;
    color: #f5f5f7;
    font-size: 21px;
    line-height: 1.1904761905;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, .6);
}

.poster-apple-logo {
    width: 100px;
    height: 100px;
    position: absolute;
    color: white;
    top: 65px;
    right: 60px;
    font-size: 46px;
    font-weight: 500;
}